body,
html{
    margin: 0;
    height: 100%;
    /* background: -webkit-linear-gradient(left,#44B8DC,#6CD4F1,#6CD4F1); */
   font-family: 'Kanit', sans-serif;
   color: #44B8DC;
}
#tab{
    /* height: 15%; */
    /* width: auto; */
    background: -webkit-linear-gradient(left, #44B8DC ,#3480D4);
}

#myInput{
    width: 80%;
}

#ml{
    margin-left: 50px;
}
/* #icon{
    font-size:auto;
    color:#f39c12;
} */
/* .nav-link{
    font-size: 100%
} */
.home_logo{
    height: 100%;
    width: 200px;
    /* border-radius: 50%;
    border: 2px solid yellow; */
    /* ใสาให้เคลื่อนไหว ค่อบลบ */
    /* -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate; */
}
.name {
    font-size: 35px;
    color: rgb(33, 47, 61);
    text-align: center;
    /* margin-bottom: 50px; */
}
    #clockbox{
        text-align:center;
        color:black;
        /* font-weight:bold; */
        font-size: 100%;
    }

#colortable{
    background-color:rgb(108, 193, 236);
}
.table td, .table th {
    padding: .75rem;
    vertical-align: baseline;
    border-top: 1px solid #dee2e6;
    text-align: center;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}