body,
html{
    margin: 0;
    height: 100%;
    /* background: -webkit-linear-gradient(left,#44B8DC,#6CD4F1,#6CD4F1); */
   font-family: 'Kanit', sans-serif;
   padding-top: 50px;
   color: #44B8DC;
   font-family: 'Kanit', sans-serif;
}
.form-group{
    margin-bottom: 1rem;
    text-align: -webkit-center;
}
.form-control {
    display: block;
    width: 30%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(0, 0, 0); 
    background-color: rgba(255, 255, 255,0.1);
    background-clip: padding-box;
    border: 1.5px solid rgb(68, 184, 220,0.5);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.inputWithIcon input[type=text],[type=password]{
    padding-left: 40px;
}
.inputWithIcon{
    position: relative;

}
.inputWithIcon i{
    position: absolute;
    left: 35.5%;
    top: 4px;
    padding: 9px 8px;
    transition: .3s;
    color: rgb(155, 155, 155);
}
/* .inputWithIcon input[type=text],[type=password]:focus + i{
    color: rgb(155, 155, 155);
} */

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgb(104, 104, 104,0.3);
}